section.diskArea  
	div(style="width:100%; height:100%; display:none; justify-content:center; align-items:center; z-index:99;")#poprapdisk
		div(style="width:100%; height:100%; display:flex; justify-content:space-around; align-items:center; background-color: white; ; overflow:hidden; flex-direction:column; border-radius:0.5vw;")
			div(style="width:100%; top:0;background-color:#8EABD3; display:flex; justify-content:space-around; align-items:center;").moreTitle
				span(style="width:80%; text-align:center;") Each Disk Detail
				button#popexitdisk(style="border-radius: 100%; font-style:bold;border:none; cursor:pointer;")
					i.fa-solid.fa-xmark
			div#popdisk(style="width:80%; display: inline-block;  overflow:hidden;")
	div.titleBox
		i.fa-solid.fa-hard-drive 
		p 디스크
			button.more#diskMore 더보기&gt;
		
	div.diskGraph#diskGraph
		div.diskNow#diskNow