section.ramArea
	div.titleBox
		i.fa-solid.fa-memory
		p 메모리
	div#ramGraph.ramGraph
		div.RAMNow#RAMNow(data-RAMId="memory1")
		//- div.RAMWeek#RAMWeek(data-RAMId="memory2")
		//- div.RAMMonth#RAMMonth(data-RAMId="memory3")