* {
  margin: 0;
  padding: 0;
  font-family: "SUITE-Regular", "sans-serif";
  list-style: none;
  text-decoration-line: none;
}

.sideMenu {
  width: 7%;
  height: 100vh;
  background-color: #3D414F;
  color: #fcfcfc;
  display: flex;
  justify-content: center;
}
.sideMenu .fa-house, .sideMenu .fa-gear, .sideMenu .fa-rotate {
  color: white;
  font-size: 2.5vw;
  margin: 1.67vw;
}
.sideMenu ul {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.sideMenu ul li {
  width: 100%;
  margin: 3.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sideMenu ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sideMenu ul li img {
  width: 3vw;
  margin: 18%;
}