link(rel="stylesheet",href="/slide/style/slide.css")
nav.sideMenu#sideMenu
   ul
      li
         a(href="/")
            i.fa-solid.fa-house
      li
         a(href="/admin")
            i.fa-solid.fa-gear
      li   
         a(href="/now")
            img(src="/slide/img/now.png" alt="now" onclick="changeImage()")#nowImg.nowImg
      li 
         a(href="/week")
            img(src="/slide/img/week.png" alt="week" onclick="changeImage()")#weekImg.weekImg
      li
         a(href="/month")
            img(src="/slide/img/month.png" alt="month" onclick="changeImage()")#monthImg